nav#main-navbar #onpage {
  background-color: blue;
  overflow: hidden;
  }

#navbar-container{
  float: left;
  width: 100%;
  position: relative;
}

nav#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left: 50%;
  }
  
nav#main-navbar ul li {
  display: block;
  position: relative;
  float: left;
  right: 50%;
  }

nav#main-navbar  ul li a {  
  display: block;
  color: #fff;  
  padding: 10px 20px;
  float: left;
  text-decoration: none;
  }

nav#main-navbar ul li a:hover {  
  text-decoration: underline overline;
  background-color: #000;
  }
 
 #sidebar-container {
  position: fixed;
  background-color: red;
  right: 0%;
  height: 100%;
  width: 20%;
  }
  
 #sidebar-container ul {
  list-style-type: none;
  padding: 0;
  }
  
 #sidebar-container ul li {
  padding: 15x 0px; 
  }

#sidebar ul li a {  
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center; 

  }
  
 #sidebar-container ul li a:hover {  
  background-color: #000;
  }