#main-navbar  {
  background-color: blue;
  overflow: hidden;
   }

#navbar-container  {
  position: relative;
  width: 100%;
  float: left;
}

#main-navbar ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  left: 50%; 
  position: relative;
  }
  
#main-navbar ul li {
  float: left;
  right: 50%;
  position: relative;
  display: block;
  }

#main-navbar  ul li a {  
  color: #fff; 
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  }

#main-navbar ul li a:hover {  
  background-color: #000;
  }
  
#onpage {
 text-decoration: underline overline;
 }

#sidebar-container {
  position: fixed;
  background-color: red;
  right: 0%;
  height: 100%;
  width: 20%;
  }
  
#sidebar ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  }
  
#sidebar ul li a {  
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 15px 0;
  }
  
#sidebar ul li a:hover{
  background-color: #000;
  }
  
  