nav#main-navbar ul {
  list-style-type: none;
  float: left;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  }
  
nav#main-navbar ul li {
  float: left;
  position: relative;
  left: 50%;
  }

nav#main-navbar ul li a {  
  float: left;
  position: relative;
  right: 50%;
  display: block;
  background-color: blue;
  color: #fff;
  text-decoration: none;
  width: 100%;
  padding: 10px 20px;
  }

nav#main-navbar ul li a:hover {  
  display: block;
  background-color: #000;
  text-decoration: underline overline;
  }